<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="./style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div>
            <img class="icon" src="./imageho.png" />
            <p class="iconnm">Doc-home</p>
        </div>
        

        <div class="about">
            <p>About</p>
        </div>
        <div class="status">
            <p> status</p>

        </div>
    </div>
    <form action="/data" method="POST">
            <p>abc vaccine</p>
              <label>
        <input type="radio" name="choice" value="yes"> Yes
    </label>

    <label>
        <input type="radio" name="choice" value="no"> No
    </label>
     <button type="submit">Save</button>
     </form>
</body>
</html>