<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
</head>

<body>
    <div style="position: relative;right:80px;">
        <img class="img" src="./image.png" />
    </div>
    <div class="yellow">
        <p class="lgn">Welcome back</p>
        <p class="wlcm">Please enter your details</p>
        <div>
            <form action="/login" method="POST">
            <p id="content1">Email</p>

            <input class="mail" type="email" placeholder="abcd@gmail.com" name="logemail"/>
        </div>
        <div>
            <p id="content2">Password</p>
            <input class="pass" type="password" placeholder="*******" name="logpassword" />
               <button type="submit" class="but">login</button>
        </form>
        </div>
     
    </div>
    <h1 class="no">Don't have an account?</h1>
    <button class="register"><a href="/register">REGISTER NOW!</a></button>
    <div>
        <div>
            <img class="icon" src="./imageho.png" />
            <p class="iconnm">Doc-home</p>
        </div>

       
         
</body>

</html>